/*color variables*/

//colores stars
$colorActiveStar: #F5C35E; 
$colorInactiveStar: #E4E4E4;
$colorBlack: #141414;
$colorWhite: #e5e5e5;
$colorRedLight: #E6614D;
$colorRedDark: #891819;
$colorBrokenWhite: #F0E7E2;
