.info-characters-bigphoto {
    background: url('../img/twd3.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    width: 100%;
    height: 30vh;
    min-width: 100px;
    position: relative;

    /*MEDIA QUERIES*/
    /*Tablet*/
    @media only screen and (min-width: 768px) and (max-width: 1023px) {
        background: url('../img/twd3.jpg') no-repeat;
    }

    /*Desktop*/
    @media only screen and (min-width: 1024px) {
        background: url('../img/redClouds.jpg') no-repeat;
        background-size: cover;
    }
}

.info-characters-group {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}

.info-character {
    display: flex;
    flex-basis: 90%;
    min-width: 400px;
    

    /*MEDIA QUERIES*/
    /*Tablet*/
    @media only screen and (min-width: 768px) and (max-width: 1279px) {
        flex-basis: 50%;
    }

    /*Desktop*/
    @media only screen and (min-width: 1280px) {
        flex-basis: 30%;
    }
}

.info-character-basics{
	
}

.info-character-basics--moreinfo {
    background: url('../img/ic_moreinfo.png') no-repeat;
    background-size: auto 100%;
}

.info-character-extended {
    display: none; 
    position: absolute;
    left: 0;
    
    width: 100%;
    height: auto;
    background-color: $colorBlack;
    z-index: 1000;
    // // flex-grow:3;
    // flex-shrink: 3;
}

.info-character:hover .info-character-extended {
    display: block;
    animation: slide-down .3s ease-out;
}

.info-character--photo {}

.info-character--votes {
    margin: 10px;
}

.info-character--name {
    margin: 10px;
}

#info-characters-alive {
    display: block;
}

#info-characters-dead, 
#info-seasons {
    display: none;
}
.info-character-extended-description{
	display: block;
}
.info-character-extended-history,
.info-character-extended-performer{
	display: none;
}


@keyframes slide-down {
    0% {
        opacity: 0;
        transform: translateY(-100%);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}