.menu {
    width: 100%;
    // height: inherit;
    text-align: center;
    opacity: 1;
    z-index: 999;
}

.menu li {
    display: inline-block;
    padding: 5% 5% 0% 5%; 

    // MEDIA QUERIES    
    @media only screen and (min-width: 768px) and (max-width: 1023px) {
        padding: 5% 5% 0% 5%;
    }

    @media only screen and (min-width: 1024px) {
        padding: 5% 5% 1% 5%;
    }
}

.menu li a:hover {
    padding-bottom: .5rem;
    border-bottom: 2px solid $colorRedLight;
    color: $colorRedDark;
}